<div class="container">
  <h2>{{ title }}</h2>
  <div>
    <img src="../{{ item.sciezka }}/{{ item.nazwa }}.png">
    <p>nazwa: {{ item.nazwa }}</p>
    <p>rozmiar: {{ item.rozmiar }}</p>
  </div>
</div>
